
<div class="main">
  <div class="ui center aligned container">
    <p style="font-size:30px">注册</p>
  </div>
  <br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="ui form">
      <div class="twelve wide field" style="position:relative;left:12%">
        <%= f.label :电子邮箱 %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="twelve wide field" style="position:relative;left:12%">
        <%= f.label :密码 %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="twelve wide field" style="position:relative;left:12%">
        <%= f.label :确认密码 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
  <br>
  <button class="ui teal button" type="submit" style="font-size:14px;position:relative; left: 65%">
    注册
  </button>
    <% end %>

  </div>
