<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "个") %> 错误出现了:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui form">
    <div class="twelve wide field" style="position:relative;left:12%">
      <%= f.label :活动标题 %>
      <%= f.text_field :title %>
    </div>
    <div class="twelve wide field" style="position:relative;left:12%">
      <%= f.label :活动内容 %>
      <%= f.text_area :content, size: "10x2" %>
    </div>
  </div>
  <br>
    <div class="field" style="font-weight:700">
      <%= f.label :活动时间 %><br>
      <%#= f.datetime_select :date %>
      <%= datetime_select("activity", "date", default: 0.days.from_now) %>
    </div>
    <br>
    <div class="ui form">
      <div class="twelve wide field" style="position:relative;left:12%">
        <%= f.label :发起人 %>
        <%= f.text_field :originator %>
      </div>
      <div class="actions">
        <%= f.submit '提交活动'%>
      </div>
    </div>

<% end %>
