<%# if current_user.menber? and (@time - @activity.date.ago(1.day) < 0) %>
<% if (@time - @activity.date.ago(1.day) < 0) %>
  <h2> 想要请假吗? </h2>
  <%= form_for([@activity, @activity.reasons.build]) do |f| %>
  <div class="ui form" >
    <div class="twelve wide field">
      <%= f.label :姓名 %>
      <%= f.text_field :name %>
    </div>
    <div class="twelve wide field">
      <%= f.label :请假原因 %>
      <%= f.text_area :why, size: "10x5" %>
    </div>
  </div>
  <br>
  <button class="ui teal button" type="submit" style="font-size:14px;position:relative; left: 60%">
    请假
  </button>
  <% end %>
<% else %>
  <h2>不好意思，已经超过了请假期限</h2>
<% end %>

